<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloServlet</display-name>
  <servlet>
    <servlet-name>SimpleHelloServlet</servlet-name>
    <servlet-class>simpleservlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleHiServlet</servlet-name>
    <servlet-class>simpleservlet.HiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleAlohaServlet</servlet-name>
    <servlet-class>simpleservlet.AlohaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageHelloServlet</servlet-name>
    <servlet-class>messageservice.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailHelloServlet</servlet-name>
    <servlet-class>mailservlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>mailservlet.MailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>mailservice.HelloServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>car.simpleservlet.CarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PorscheServlet</servlet-name>
    <servlet-class>car.simpleservlet.PorscheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuickServlet</servlet-name>
    <servlet-class>car.simpleservlet.BuickServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToyotaServlet</servlet-name>
    <servlet-class>car.simpleservlet.ToyotaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name> CarMessageServlet</servlet-name>
    <servlet-class>car.messageservice.CarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name> CarPickServlet</servlet-name>
    <servlet-class>car.mailservlet.CarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name> CarMailServlet</servlet-name>
    <servlet-class>car.mailservlet.MailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name> CarRaceServlet</servlet-name>
    <servlet-class>car.mailservice.CarServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleHelloServlet</servlet-name>
    <url-pattern>/simpleservlet/doHello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageHelloServlet</servlet-name>
    <url-pattern>/messageservice/doHello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailHelloServlet</servlet-name>
    <url-pattern>/mailservlet/doHello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/mailservlet/sendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/mailservice/doHello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/car/simpleservlet/pickCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PorscheServlet</servlet-name>
    <url-pattern>/car/simpleservlet/doPorsche</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>BuickServlet</servlet-name>
    <url-pattern>/car/simpleservlet/doBuick</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ToyotaServlet</servlet-name>
    <url-pattern>/car/simpleservlet/doToyota</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarMessageServlet</servlet-name>
    <url-pattern>/car/messageservice/pickCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarPickServlet</servlet-name>
    <url-pattern>/car/mailservlet/pickCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarMailServlet</servlet-name>
    <url-pattern>/car/mailservlet/sendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarRaceServlet</servlet-name>
    <url-pattern>/car/mailservice/pickCar</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>